{% extends "base.html" %}

{% block title %}{% block h1 %}
    Base de données
{% endblock %}{% endblock %}

{% block body %}

<div class="top-filter">
                <!-- Reset button -->
    <div class="clear">
        <label for="reset-button">Effacer les filtres</label>
        <a href="{{ url_for('database_page') }}" id="reset-button">
            <img src="{{ url_for('static', filename='img/clear_icon.png') }}" alt="" class="clear-button">
        </a>
    </div>

            <!-- Sorting -->
    <div class="inline-dropdown">
        <form id="sortingForm" action="{{ url_for('database_page') }}" method="GET">
            <label for="sort_order">Trier par rang</label>
            <select class="form-control" id="sort_order" name="sort_order">
                <option value="asc" {% if request.args.get('sort_order') == 'asc' %}selected{% endif %}>Croissant</option>
                <option value="desc" {% if request.args.get('sort_order') == 'desc' %}selected{% endif %}>Décroissant</option>
            </select>
            <input type="hidden" name="page" value="{{ page }}">
            <input type="hidden" name="page_size" value="{{ page_size }}">
            <input type="hidden" name="title_query" value="{{ request.args.get('title_query', '') }}">
            <input type="hidden" name="min_year" value="{{ request.args.get('min_year', unique_fields[2]['publication_year'][0]) }}">
            <input type="hidden" name="max_year" value="{{ request.args.get('max_year', unique_fields[2]['publication_year'][-1]) }}">
        </form>
    </div>

        <!-- Year Range Filter -->
    <div class="inline-dropdown">
        <form id="yearRangeForm" action="{{ url_for('database_page') }}" method="GET">
            <label for="min_year">De</label>
                    <select class="form-control" id="min_year" name="min_year">
                        {% for year in unique_fields[2]['publication_year'] %}
                            <option value="{{ year }}" {% if request.args.get('min_year') == year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
            <label for="max_year">à</label>
                    <select class="form-control" id="max_year" name="max_year">
                        {% for year in unique_fields[2]['publication_year'][::-1] %}
                            <option value="{{ year }}" {% if request.args.get('max_year') == year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
            <input type="hidden" name="page" value="{{ page }}">
            <input type="hidden" name="page_size" value="{{ page_size }}">
            <input type="hidden" name="title_query" value="{{ request.args.get('title_query', '') }}">
            <input type="hidden" name="sort_order" value="{{ request.args.get('sort_order', 'asc') }}">
        </form>
    </div>

    <!-- Search Bar Filter -->
    <div class="search-bar">
        <form action="{{ url_for('database_page') }}" method="GET" class="search-form">
            <div class="form-group">
                <label for="title_query">Rechercher un film</label>
                <input type="text" name="title_query" id="title_query" value="{{ request.args.get('title_query', '') }}">
            </div>
            <div class="form-group">
                <button type="submit" class="search-button">
                    <img src="{{ url_for('static', filename='img/search.png') }}" alt="Recherche" class="button">
                </button>
            </div>
            <input type="hidden" name="page" value="{{ page }}">
            <input type="hidden" name="page_size" value="{{ page_size }}">
            <input type="hidden" name="sort_order" value="{{ request.args.get('sort_order', 'asc') }}">
            <input type="hidden" name="min_year" value="{{ request.args.get('min_year', unique_fields[2]['publication_year'][0]) }}">
            <input type="hidden" name="max_year" value="{{ request.args.get('max_year', unique_fields[2]['publication_year'][-1]) }}">
        </form>
    </div>
</div>


<div class="left-side-filter">

</div>

<div class="movies-wrapper">
    <p class="search-info">{{ search_info }}</p>
    <ul>
        {% for entry in res %}
            <li>
                {% for key, value in entry.items() %}
                    {% if key != 'poster' %}
                        <strong>{{ key|capitalize }}:</strong> {{ value }}<br>
                    {% endif %}
                {% endfor %}
                {% if 'poster' in entry %}
                    <img src="{{ entry.poster }}" alt="{{ entry.title }} Poster"><br>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>


<div class="pagination">
    <div class="page-selector">
        {% if total_hits > page_size %}
            <form action="{{ url_for('database_page') }}" method="GET" class="page-selector-form">
                <label for="page-selector">Page</label>
                <select id="page-selector" name="page" onchange="this.form.submit()">
                    {% set total_pages = (total_hits // page_size) + (1 if total_hits % page_size > 0 else 0) %}
                    {% set current_page = page %}

                    {% for num in range(1, total_pages + 1) %}
                        <option value="{{ num }}" {% if num == current_page %}selected{% endif %}>{{ num }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="page_size" value="{{ page_size }}">
                <input type="hidden" name="title_query" value="{{ request.args.get('title_query', '') }}">
                <input type="hidden" name="sort_order" value="{{ request.args.get('sort_order', 'asc') }}">
                <input type="hidden" name="min_year" value="{{ request.args.get('min_year', unique_fields[2]['publication_year'][0]) }}">
                <input type="hidden" name="max_year" value="{{ request.args.get('max_year', unique_fields[2]['publication_year'][-1]) }}">
            </form>
        {% endif %}
    </div>

    <div class="navigation_buttons">
    {% if page > 1 %}
        <a href="{{ url_for('database_page') }}?{% for key, value in request.args.items() %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&page={{ page-1 }}">
            <img src="{{ url_for('static', filename='img/previous-icon.png') }}" alt="Précédent" class="navigation_button" />
        </a>
    {% endif %}
    {% if (page - 1) * page_size + res|length < total_hits %}
        <a href="{{ url_for('database_page') }}?{% for key, value in request.args.items() %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}&page={{ page+1 }}">
            <img src="{{ url_for('static', filename='img/next-icon.png') }}" alt="Prochain" class="navigation_button" />
        </a>
    {% endif %}
</div>

</div>
{% endblock %}
