.bottom-legend {
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
}

.map {
    width: 66%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    padding: 1.5rem;
}

.map-title {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
}

.map-display {
    border: 3px solid #ccc;
}

.map-description {

}